<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.js" ></script>
    <script src="./node_modules/datatables.net/js/jquery.dataTables.min.js" ></script>
    <link rel="stylesheet" href="./node_modules/sweetalert2/dist/sweetalert2.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
    <script src="js/perfiles.js"></script>
    <script src="js/favoritos.js"></script>
</head>

<body>
    <div id="appi">
        <!-- Favorites -->
        <div class="favorites">
            <favoritos
            :mis-favoritos="misFavoritos"
            @mostrar-favorito="mostrarFavorito"
            ></favoritos>
        </div>
        <!-- Content -->
        <article class="content">

            <h1>Buscar Usuarios</h1>
            <!-- Search -->
            <form class="search">
                <input type="text" v-model="busqueda" class="search__input" required placeholder="Buscar usuarios">
                <button type="button" @click="search" class="search__submit">Buscar</button>
            </form>

            <!-- Result -->
            <transition name="res" >
                <perfiles v-if="result"  
                    :resultado="result" 
                    :favorito="esFavorito"
                    @quitar-favorito="quitarFavorito" 
                    @add-favorito="addFavoritos">
                </perfiles>
            </transition>

            <!-- Error -->
            <div class="result__error" v-show="error">
                <p>{{error}}</p>
            </div>
        </article>
    </div>
</body>
<script>
    apps.mount("#appi");
</script>
</html>